@import '../../../../assets/styles/color';
.nameWrap {
    border-left: 4px solid $color-info;
    padding-left: 1rem;
    p{
        color: $color-text-muted;
        font-size: 12px;
        font-weight: 700; 
    }
    h5 {
        color: $text-bold-color;
       font-weight: 700;
    }

}
.time{
    padding-left: calc(1rem + 4px );
    color: $color-text-muted;
    font-size: 12px;
    font-weight: 700; 
} 
.button {
    width: 110px;
    border-left: 2px solid $color-background;
    border-bottom: 2px solid $color-background;
    &:last-child {
        border-bottom: 0px solid $color-background;
    }
    p {
        color: $text-bold-color;
        font-weight: 700; 
        font-size: 14px;
    }
}