.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 145px;
    background: linear-gradient(280.43deg, #49BDF4 40.06%, rgba(255, 255, 255, 0) 69.96%);

    .loginForm {
        background-color: white;
        padding: 75px 55px;
        border-radius: 20px;

        .input {
            width: 100%;
        }

    }

}