@import '../../../assets/styles/color';

    
.story-view-modal {
    .ant-modal-content {
        height: 100vh !important;
            // background-color: unset !important;
            // box-shadow: unset !important
        }
        .ant-modal-body {
            padding: unset !important;
        }
        .ant-modal {
            top: unset !important;
            padding-bottom: unset;
            max-width: unset !important;
            width: 100% !important
        }
        .ant-modal-wrap {
            //left: 285px !important
        }
        .ant-modal-close-x {
            color: white !important
        
        }
  
}
.story-container {
    
   
    .ant-avatar {
        border-radius: 12px;

    }

    p {
        font-weight: 700;
    }

    .icon-wrap {
        .anticon {
            font-size: 14px;
            color: $button-blue-color;

        }
    }
}

