@import '../../../assets/styles/color';
.wrap {
    .layoutContent {
        background-color: $color-background;
    }
    
    
    .rightSider {
        // position: absolute;
        // right: 0;
    }
    .test {
        background-color: $color-background;
    }
}

@media (max-width: 991px) {
    .leftSider {
display: none;
    } 
}
@media (max-width: 768px) {
    .rightSider {
display: none;
    } 
    .content {
        margin-right: unset !important;
    }
}
@media (min-width: 991px) {
    .profileSider {
        display: none;
    }
}