.user-layout-wrap {
    background: #f7fafb;
  
    .ant-layout-sider {
        background: #f7fafb;
        min-width: 285px !important;
    }

    .ant-layout-header {
        background-color: white !important;
        height: 80px;

    }

    @media (max-width: 992px) {
        .ant-layout-sider {
            background: #f7fafb;
            display: none;
            // min-width: 0px;
        }
        .site-layout-background {
        margin-left: 0px !important;
        }
    }
}