.user-layout-wrap {
    .ant-layout-sider {
        background: #f7fafb;
        min-width: 285px !important;
    }
    .ant-layout-header {
        background-color: white !important;
       height: 70px;
    
       
    }
    @media (max-width: 991px) {
        .ant-layout-sider {
            background: #f7fafb;
            display: none;
        }
    }
}