.full-modal-wrap {
.ant-modal-content {
    height: 100vh !important;
    background-color: unset !important;
        // box-shadow: unset !important
    }
    .ant-modal-body {
        padding: unset !important;
    }
    .ant-modal {
        top: unset !important;
        padding-bottom: unset !important;
        max-width: unset !important;
        width: 100% !important
    }
    .ant-modal-wrap {
        //left: 285px !important
    }
    .ant-modal-close-x {
        color: white !important
    }
}