.newfeed-page-wrap {
    .ant-layout-sider {
        min-width: 320px !important;
    }
    .site-layout {
        background: #f7fafb !important;
    }
    @media (max-width: 992px) {
        .site-layout {
            margin-right: 0 !important;
        }
    }
}