@import '../../../assets/styles/color';
.psychologist-overview {
    // .swiper-slide {
    //     height: unset !important;
    // }
.anticon {
    color: $text-bold-color
}
.day-pick {
    color: white !important;
    background-color: $text-bold-color;
}
   
}


