@import '../../../assets/styles/color';
.wrap {
    border-left: 1px solid $button-border-color;
    img {
        width: 310px;
       
    }
    .viewDetailButton {
        width: 40%;
        margin-right: .5rem;
    }
    .makeAnAppointment {
        width: 60%;
        margin-left: .5rem;
    }
    .swiperContent {
        width: 110px;
        border: 1.5px solid $text-bold-color;
        border-radius: 10px;
        height: 45px;
        font-weight: 700;
        font-size: 14px;
        color: $text-bold-color;
        cursor: pointer;
       
    }
    .time {
        font-size: 20px;
        font-weight: 700;
    }
    .period {
        font-size: 10px; 
    }
    .backIcon {
       position: absolute;
       top: 46%;
        left: -20px;
     z-index: 3; 
     font-size: 22px;
     transition: 0.5s;
     &:hover {
         cursor: pointer;
         left: -25px;
         transition: 0.5s;
     }

    }
    .infoWrap {
        h3 {
            font-weight: 700;
            color: $text-bold-color
        }
        p {
            font-size: 13px;
            color: $text-bold-color;
            text-align: justify;
        }
    }
   
    
}