// .story-section-wrap {
//     // .owl-item {
//     //     transform: translate3d(0px, 0px, 0px);
//     //     transition: all 0s ease 0s;
//     //     width: 100px;
//     // }
//     .owl-carousel {
//         overflow: hidden;
//         width: 100%;
//     z-index: 1;
//     }
//   .owl-stage-outer {
//         position: relative;
//     overflow: hidden;
//     -webkit-transform: translate3d(0,0,0);
// }

    
   
    
// }
@import '../../assets/styles/color';
.story-container {
    .ant-avatar {
        border-radius: 12px;
       
    }
    p {
        font-weight: 700;
    }
    .icon-wrap {
        .anticon {
            font-size: 14px;
            color: $button-blue-color;

        }
    }
}
.owl-carousel {
            overflow: hidden;
            width: 100%;
        z-index: 1;
        }
        .owl-carousel {
            display: none;
            width: 100%;
            z-index: 1;
        }
.owl-stage {
    overflow: hidden;
    // width: 928px !important
}
.owl-item {
    width: auto !important;
    margin-left: 7px;
}