.post-wrap {
    .ant-modal-content {
        background-color: unset !important;

    }

    .ant-avatar {
        border-radius: 12px
    }

    .ant-btn {
        padding: 0px 10px;
    }

    .ant-carousel .slick-dots li {
        margin-right: 0px !important;
        margin-left: 0px !important;
        width: unset !important;

        button {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            margin-left: 6px;
        }
    }

    .arrow-icon {
        .anticon {
            font-size: 20px;
            color: white;
        }
    }
}