@import '../../../../assets/styles/color';
.wrap {
    width: 400px;
    max-height: calc(100vh - 60px);
    overflow: auto;
    .title {
        color: $text-bold-color;
    font-size: 22px;
    font-weight: 700; 
    }
    .messageContent {
        padding-left: .5rem;
    }
    .messageName {
        color: $text-bold-color;
        font-size: 14px;
        font-weight: 500;
    }
    .message {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 230px
    }
    .messageWrap {
        font-size: 12px;
        color: $color-text-muted
    }
}