.psychologist-item-wrap {
    .ant-input-affix-wrapper {
      border-radius: 12px;
      max-width: 285px;
      width: 80%
    }
    .ant-tag {
      border: none;
      border-radius: 12px;
      width: 60px;
      text-align: center;
    }
    .ant-rate-star:not(:last-child) {
        margin-right: 2px;
        .anticon {
            font-size: 18px;
        }
    }
    .ant-rate-star {
        .anticon {
            font-size: 18px;
        }
    }
}