$primary-color: #5ac5f8;
$text-bold-color: #0A2053;
$text-detail-color: #444444;
$navy-blue-color: #2C7BF6;
$border-color: #f4f5f9;
$grey-color: #a2aebd;
$text-blue-color: #7a8ca1;
$button-blue-color: #1877f2;
$button-border-color: #cbd3de;
$bold-grey-color: #4c6381;
$color-danger: #dc3545;
$color-wraning: #ffc107;
$color-success: #28a745;
$color-background:  #f7fafb;
$color-text-muted: #adb8c5
